{% extends 'base.html' %}

{% block title %}Historia{% endblock %}

{% block content %}
<div class="text-large text-bold text-center">Historia</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Typ operacji</th>
      <th>Produkt/Saldo</th>
      <th>Cena/Opis</th>
      <th>Ilość</th>
      <th>Suma</th>
    </tr>
  </thead>
  <tbody>
    {% for item in history %}
    <tr>
      <td>{{item[4]}}</td>
      <td>{{item[0] or "---"}}</td>
      <td>{{item[1] or "---"}}</td>
      <td>{{item[2] or "---"}}</td>
      <td>{{item[3] or "---"}}</td>
      {% if item[3] != None %}
      <td>{{(item[3]|int * item[2]|int)}}</td>
      {% else %}
      <td>---</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}