{% extends 'base.html' %}

{% block title %}Sprzedaż{% endblock %}

{% block content %}
<div class="text-large text-bold text-center">Sprzedaj produkt</div>
<form method="post" id="sell-product-form" class="calculate-sum">
  <div class="form-group">
    <label class="form-label" for="input-product-name">Nazwa produktu</label>
    <input class="form-input" type="text" id="input-product-name" placeholder="Nazwa produktu" name="product-name" required>
  
    <label class="form-label" for="input-product-price">Cena jednostkowa</label>
    <input class="form-input" type="number" id="input-product-price" placeholder="Cena jednostkowa" required>
  
    <label class="form-label" for="input-product-qty">Ilość sprzedanych</label>
    <input class="form-input" type="number" id="input-product-qty" placeholder="Ilość sprzedanych"  required>
  
    <div>
      Suma: <span id="price-sum">0</span>
      <button class="btn btn-primary p-centered mt-2">Sprzedaj</button>
    </div>
  </div>
</form>
{% endblock %}